@use '../base/variables' as *;

.promo{
    &-header{
        &-title{
            position: relative;
            align-items: center;
            justify-content: center;
            padding: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .overlay-title {
                background: rgba(0,0,0,0.4);
                padding: 20px 40px;
                width: 100%;
                position: absolute;
                top: 45%;
            }
        }

        &-icons{
            position: relative;
            .card{
                border-color: $color-primary;
                &-body{
                    text-align: center;
                }
                .icon{
                    width: 25%;
                    margin: auto;
                }
            }
        }
    }
}