@use '../base/variables' as *;

.promo{
    &-header{
        &-title{
            background-color: $color-primary;
            position: relative;
            min-height: 300px;
            h1{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $color-light;
            }
        }
        &-icons{
            .card{
                border-color: $color-primary;
                &-body{
                    text-align: center;
                }
            }
        }
    }
}