@use 'variables' as *;

body {
  font-family: $font-primary !important;
  font-size: 16px;
  line-height: 1.6;
  color: $color-text;
  background: $color-bg;
}

h1, h2, h3 {
  color: $color-primary;
  font-weight: 800;
}
