<article{{ attributes.addClass('promocion') }}>
  
  <h1 class="text-align-center">{{ label }}</h1>
  {% if content.field_image %}
    <div class="promocion-image ">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="promocion-body">
    {{ content.body }}
  </div>

  <div class="promocion-cta">
    <a href="https://wa.me/573123170535" class="btn btn-success">
      Reservar por WhatsApp
    </a>
  </div>

</article>
